@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraftia.eot?") format("eot"), url("../fonts/Minecraftia.woff") format("woff"), url("../fonts/Minecraftia.ttf") format("truetype"), url("../fonts/Minecraftia.svg#Minecraftia") format("svg");
    font-weight: normal;
    font-style: normal;
}

p {
    line-height: 25px;
    text-align: justify;
    margin: 10px 30px;
    font-size: 15px;
}

h1 {
    font-size: 28px;
}

h2 {
    margin: 0;
    padding: 10px 20px;
    padding-top: 20px;
}

h3 {
    margin: 0;
    padding: 5px 15px;
}

h4 {
    margin: 0;
    padding: 5px 15px;
}

a {
    color: #0088cc;
    text-decoration: none;
}

hr {
    margin-bottom: 15px;
    margin-top: -5px;
    height: 1px;
    padding: 0;
    border: 0;
    background: #000000;
}

ul {
    list-style: none;
}

input, button, [class^="btn"], select {
    font-family: "Minecraft", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: normal;
    line-height: 23px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    margin: 8px 0px;
    padding: 5px;
    padding-bottom: 4px;
    min-width: 160px;
    display: inline-block;
    vertical-align: middle;
    *overflow: visible;
    color: #555555;
    border: 1px solid #cccccc;
}

input[type="text"], button[type="text"], [class^="btn"][type="text"], select[type="text"], input[type="password"], button[type="password"], [class^="btn"][type="password"], select[type="password"] {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type="text"]:focus, button[type="text"]:focus, [class^="btn"][type="text"]:focus, select[type="text"]:focus, input[type="password"]:focus, button[type="password"]:focus, [class^="btn"][type="password"]:focus, select[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
    outline: thin dotted \9;
}

button, input[type="submit"], input[type="button"], input[type="reset"], [class^="btn"], select {
    cursor: pointer;
    text-align: center;
    -webkit-box-sizing: border-box;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    *zoom: 1;
    *margin-left: .3em;
    margin-right: 3px;
    margin-left: 3px;
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    background-color: #ffffff;
}

button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active, [class^="btn"]:active, select:active, button.active, input[type="submit"].active, input[type="button"].active, input[type="reset"].active, [class^="btn"].active, select.active, button.disabled, input[type="submit"].disabled, input[type="button"].disabled, input[type="reset"].disabled, [class^="btn"].disabled, select.disabled, button[disabled], input[type="submit"][disabled], input[type="button"][disabled], input[type="reset"][disabled], [class^="btn"][disabled], select[disabled] {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button.btn-blue, input[type="submit"].btn-blue, input[type="button"].btn-blue, input[type="reset"].btn-blue, [class^="btn"].btn-blue, select.btn-blue {
    color: #ffffff;
    background-color: #49afcd;
}

button.btn-blue.active, input[type="submit"].btn-blue.active, input[type="button"].btn-blue.active, input[type="reset"].btn-blue.active, [class^="btn"].btn-blue.active, select.btn-blue.active, button.btn-blue:active, input[type="submit"].btn-blue:active, input[type="button"].btn-blue:active, input[type="reset"].btn-blue:active, [class^="btn"].btn-blue:active, select.btn-blue:active, button.btn-blue.disabled, input[type="submit"].btn-blue.disabled, input[type="button"].btn-blue.disabled, input[type="reset"].btn-blue.disabled, [class^="btn"].btn-blue.disabled, select.btn-blue.disabled, button.btn-blue[disabled], input[type="submit"].btn-blue[disabled], input[type="button"].btn-blue[disabled], input[type="reset"].btn-blue[disabled], [class^="btn"].btn-blue[disabled], select.btn-blue[disabled] {
    background-color: #2f96b4;
}

button.btn-red, input[type="submit"].btn-red, input[type="button"].btn-red, input[type="reset"].btn-red, [class^="btn"].btn-red, select.btn-red {
    color: #ffffff;
    background-color: #da4f49;
}

button.btn-red:active, input[type="submit"].btn-red:active, input[type="button"].btn-red:active, input[type="reset"].btn-red:active, [class^="btn"].btn-red:active, select.btn-red:active, button.btn-red.active, input[type="submit"].btn-red.active, input[type="button"].btn-red.active, input[type="reset"].btn-red.active, [class^="btn"].btn-red.active, select.btn-red.active, button.btn-red.disabled, input[type="submit"].btn-red.disabled, input[type="button"].btn-red.disabled, input[type="reset"].btn-red.disabled, [class^="btn"].btn-red.disabled, select.btn-red.disabled, button.btn-red[disabled], input[type="submit"].btn-red[disabled], input[type="button"].btn-red[disabled], input[type="reset"].btn-red[disabled], [class^="btn"].btn-red[disabled], select.btn-red[disabled] {
    background-color: #ee5f5b;
}

button:focus, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, [class^="btn"]:focus, select:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

button:first-child, input[type="submit"]:first-child, input[type="button"]:first-child, input[type="reset"]:first-child, [class^="btn"]:first-child, select:first-child {
    *margin-left: 0;
}

form label {
    padding: 0 15px;
    padding-top: 10px;
    display: block;
    font-size: 15px;
    text-align: left;
}

form input, form select {
    width: 300px;
    margin-left: 20px;
}

form button {
    margin: 5px;
}

form .fieldgroup-center {
    text-align: center;
    margin-top: 15px;
}

form.form-vertical {
    text-align: center;
}

form.form-vertical input, form.form-vertical button, form.form-vertical [class^="btn"], form.form-vertical select {
    display: block;
    -webkit-box-sizing: border-box;
    margin: 10px auto;
    width: 350px;
}

form.form-vertical.shell {
    width: 400px;
    margin: 0 auto;
}

form.form-vertical.shell p {
    text-align: center;
}

form.form-vertical.large.shell {
    width: 800px;
}

form.form-vertical.large input, form.form-vertical.large select {
    width: 790px;
}

.shell {
    position: relative;
    background-color: #e1e1e1;
    border: 1px solid #d6d6d6;
    padding: 5px;
    overflow: hidden;
}

canvas {
    image-rendering: -webkit-optimize-contrast;
    background-image: url('../img/skinEditor_background.png');
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skin_preview {
    height: 200px;
    width: 200px;
    position: absolute;
}

.skin_preview.right {
    right: 5px;
}

span > object {
    display: none;
    opacity: 0.0;
    z-index: -10;
    position: absolute;
}

.hidden {
    display: none;
}

.heroquote {
    float: left;
    font-style: italic;
}

.small {
    width: 100px;
}

.user_icon {
    display: inline-block;
    float: left;
    position: relative;
    background-color: #efefef;
    box-shadow: 0px 0px 3px #bababa;
    -moz-box-shadow: 0px 0px 3px #bababa;
    margin: 5px 15px;
    padding: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.user_icon:hover {
    left: -1px;
    top: -1px;
}

.user_icon:active {
    left: 1px;
    top: 1px;
}

.user_icon a {
    display: inline-block;
    width: 180px;
}

.user_icon a:hover span:not([class]) {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_icon a span:not([class]) {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.user_icon a span:not([class]):hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.phpdoc {
    font-family: monospace;
}

.phpdoc .tag {
    color: #c13131;
}

.phpdoc .var {
    color: #84322c;
}

.list_btn {
    margin: 0;
}

.notification {
    padding: 10px;
    width: 300px;
    min-height: 100px;
    position: fixed;
    bottom: 10px;
    left: -340px;
    z-index: 99;
    -webkit-transition: left linear 0.3s;
    -moz-transition: left linear 0.3s;
    -ms-transition: left linear 0.3s;
    -o-transition: left linear 0.3s;
    transition: left linear 0.3s;
    color: white;
    background-color: #285a8b;
    cursor: pointer;
    opacity: 0.96;
}

.notification:hover {
    opacity: 1.0;
}

.modal {
    position: fixed;
    z-index: 3;
    top: -100%;
    left: 50%;
    height: 75%;
    width: 850px;
    margin-left: -425px;
    background-color: #f0f0f0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    -webkit-transition: top linear 0.3s;
    -moz-transition: top linear 0.3s;
    -ms-transition: top linear 0.3s;
    -o-transition: top linear 0.3s;
    transition: top linear 0.3s;
}

.modal canvas {
    height: 60%;
    margin: 0 20px;
}

.modal .skin_actions {
    position: absolute;
    right: 0;
    width: 350px;
}

.modal_underlay {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
